<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="layout/header">
</head>
<style>
    table{
        text-align: center;
    }
    .td_bold{
        font-weight: bold;
    }
    .pic_box{
        position: relative;
        float: left;
    }
    .background{
        height:120px;
        float:left;
        margin-right:20px;
    }
    .removeHead{
        position: absolute;
        font-size: 28px;
        right: -5px;
        top: 6px;
        color: #e85858;
    }
    .removeImg{
        position: absolute;
        font-size: 28px;
        right: 6px;
        top: -6px;
        color: #e85858;
    }
</style>
<body>
<div class="layui-card-body">
    <form class="layui-form">
    </form>
</div>
</body>
<script type="text/html" id="information">
    {{if information.id}}
        <input type="hidden" name="id" value="{{information.id}}"/>
    {{/if}}

    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="{{information.name}}" autocomplete="off" placeholder="请输入姓名"
                   lay-reqtext="请输入姓名" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">病历号</label>
        <div class="layui-input-block">
            <input type="text" name="recordNo" value="{{information.recordNo}}" autocomplete="off" placeholder="请输入病历号"
                   lay-reqtext="请输入病历号" class="layui-input" lay-verify="required">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-block">
            <input type="text" name="phone" value="{{information.phone}}" autocomplete="off" placeholder="请输入电话"
                   lay-reqtext="请输入电话" class="layui-input" lay-verify="phone">
        </div>
    </div>

    <div class="layui-form-item" id="type-box">
        <label class="layui-form-label">病种</label>
        <div class="layui-input-inline">
            <input type="text" id="type" name="type" value="{{information.type}}" autocomplete="off" placeholder="请选择病种"
                   lay-reqtext="请选择病种" class="layui-input" lay-verify="required">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">所属医生</label>
            <div class="layui-input-block">
                <select name="did" lay-verify="required">
                    <option value="">请选择所属医生</option>
                    {{each doctors as doctor}}
                        <option value="{{doctor.id}}" {{if information.doctor && information.doctor.id==doctor.id}}selected{{/if}}>{{doctor.name}}~{{doctor.phone}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">检查项目</label>
        <div class="layui-input-block">
            {{each information.checks as check}}
                <input lay-filter="checkChange" type="checkbox" name="check" lay-skin="primary" value="{{check.id}}" data-name="{{check.name}}" data-enname="{{check.enName}}" title="{{check.name}}" {{if check.checked}}checked="" {{/if}}>
            {{/each}}
        </div>
    </div>

    {{each information.examination as check}}
    <div class="layui-form-item layui-form-text" id="check-{{check.enName}}">
        <label class="layui-form-label">{{check.name}}</label>
        <div class="layui-input-block layui-upload-list">
            {{each check.pics as src i}}
                <div class="pic_box">
                    <i class="layui-icon layui-icon-close-fill removeImg" data-src="{{i}}"></i>
                    <img class="background" src="{{src}}">
                </div>
            {{/each}}
            <!-- 最多多少张图片 -->
            <div class='pic-num' style="float:right;width: fit-content;"><span>{{check.pics.length}}</span>/<span>4</span></div>
            <img src="/image/add.png" alt="点击上传图片"  class="background addImg" {{if check.pics.length>3}}style='display:none;'{{/if}}/>
            <input data-enname="{{check.enName}}" data-name="{{check.name}}" class="value-input" type="hidden" value="{{check.pics | join ','}}">
        </div>
    </div>
    {{/each}}
    <div class="layui-form-item layui-form-text mark">
        <label class="layui-form-label">其他</label>
        <div class="layui-input-block">
            <textarea name="other" placeholder="请输入其他内容" class="layui-textarea">{{information.other}}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="information">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            <button type="button" class="layui-btn layui-btn-primary" lay-active="back">返回</button>
        </div>
    </div>
</script>
<script type="text/html" id="type-other">
    <div class="layui-inline type-other">
        <div class="layui-input-inline">
            <input type="text" name="otherType" lay-reqtext="请输入其他病种的名称" placeholder="请输入其他病种的名称" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
</script>

<script type="text/html" id="check-html">
    <div class="layui-form-item layui-form-text" id="check-{{enName}}">
        <label class="layui-form-label">{{name}}</label>
        <div class="layui-input-block layui-upload-list">
            {{each pics as src i}}
                <div class="pic_box">
                    <i class="layui-icon layui-icon-close-fill removeImg" data-src="{{i}}"></i>
                    <img class="background" src="{{src}}">
                </div>
            {{/each}}
            <div class='pic-num' style="float:right;width: fit-content;"><span>{{pics.length}}</span>/<span>4</span></div>
            <img src="/image/add.png" alt="点击上传图片"  class="background addImg{{id}}" {{if pics.length>3}}style='display:none;'{{/if}}/>
            <input data-enname="{{enName}}" data-name="{{name}}" class="value-input" type="hidden" value="{{pics | join ','}}">
        </div>
    </div>
</script>


<script src="/js/template.js"></script>
</body>
</html>
<script type="text/javascript">
    layui.use(['form', 'laydate', 'layer','Api','ImgUpload','cascader'],async function () {
        var form = layui.form
            , layer = layui.layer
            , util = layui.util
            , Api = layui.Api
            , cascader = layui.cascader
            , ImgUpload = layui.ImgUpload;
        $ = layui.$;
        var url = layui.url();
        let res = await Api.informationDetail({id:url.search.id});
        let res1 = await Api.getAllDoctor({});
        let diseases = await Api.diseaseTree({});

        let information = res.data;
        let doctors = res1.data || [];
        let html = template("information",{information:information,doctors:doctors});
        $(".layui-form").html(html);

        ImgUpload(".addImg");
        var type = cascader({
            value: information.type,
            elem: '#type',
            options: diseases.data||[],
            placeholder:'请选择病种',
            props:{
                value:"id",
                label:"title"
            },
            clearable: true
        });
        form.render();
        type.changeEvent(function (value, node) {
            $(".type-other").remove();
            if(node.data.optional){
                let html = template("type-other",{other:res.data.other});
                $("#type-box").append(html);
                form.render();
            }
        });

        form.on('checkbox(checkChange)', function(data){
            let elem = $(data.elem);
            let checked = data.elem.checked;
            let id = data.value;
            let enName = $(elem).data("enname");
            let name = $(elem).data("name");
            if(checked){
                let html = template("check-html",{id:id,enName:enName,name:name,pics:[]});
                $(".mark").before(html);
                ImgUpload(".addImg"+id);
            }else{
                $("#check-"+enName).remove();
            }
            form.render();
        });

        //监听提交
        //form.on
        form.on('submit(information)',function(data){
            var information = data.field;
            let examination = [];
            $(".value-input").each(function () {
                let enName = $(this).data("enname");
                let name = $(this).data("name");
                let val = $(this).val();
                examination.push({
                    enName:enName,
                    name:name,
                    pics:val.split(",")
                })
            });
            information.examination = examination;
            information.doctor = {id:information.did};
            if(information.id){
                Api.updateInformation(JSON.stringify(information)).then(res=>{
                    back();
                });
            }else{
                Api.addInformation(JSON.stringify(information)).then(res=>{
                    back();
                });
            }
            return false;
        });

        util.event('lay-active', {
            back: function(othis){
                back();
            }
            ,picPreview: function(othis){//图片预览
                if($("#pic").val()){
                    layer.photos({ photos: {"data": [{"src": $("#pic").val()}]} });
                }else{
                    layer.msg('请先上传头像');
                }
            }
        });
        //返回,关闭弹出层
        let back = function () {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
            parent.tableReload();
        }
    });
</script>