<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<style>
    .layui-tab-title {
        display: flex;
    }
    .layui-tab-title li {
        flex: 1;
    }
    .q-login{background-color: rgb(87, 87, 87);}
    .impowerBox{
        line-height: 1.6;
        margin: 0 auto;
        z-index: 1;
        padding: 15px;
        text-align: center;
    }
    .title{text-align: center;font-size: 20px;color: #fff!important;}
    .impowerBox .status.normal{
        padding: 5px 0;
        margin-top: 15px;
        background-color: #393939;
        border-radius: 100px!important;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        box-shadow: inset 0 5px 10px -5px #191919, 0 1px 0 0 #444;
        -moz-box-shadow: inset 0 5px 10px -5px #191919,0 1px 0 0 #444;
        -webkit-box-shadow: inset 0 5px 10px -5px #191919, 0 1px 0 0 #444;color: #fff!important;
    }
    .normal p{
        font-size: 14px;
        margin: 0;
        line-height: 2.4;
    }
    .wrp_code{
        width: 240px;
        height: 240px;
        padding: 10px;
        margin: auto;
        background-color: #fff;
    }
    .wrp_code img{width: 90%;padding:5%;}
</style>
<body>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login">
    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>系统登录</h2>
            <p>欢迎登录肝肿瘤随访系统</p>
        </div>

        <div class="layui-tab layui-tab-brief" lay-filter="login">
            <ul class="layui-tab-title">
                <li class="layui-this">账号登录</li>
                <li>扫码登录</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">

                    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                                   for="LAY-user-login-username"></label>
                            <input type="text" name="username" id="LAY-user-login-username" lay-verify="required"
                                   placeholder="用户名" class="layui-input" autocomplete="off">
                        </div>
                        <div class="layui-form-item">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                                   for="LAY-user-login-password"></label>
                            <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                                   placeholder="密码" class="layui-input" autocomplete="off">
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-row">
                                <div class="layui-col-xs7">
                                    <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                                           for="LAY-user-login-vercode"></label>
                                    <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required"
                                           placeholder="图形验证码" class="layui-input" autocomplete="off">
                                </div>
                                <div class="layui-col-xs5">
                                    <div style="margin-left: 10px;">
                                        <img id="vercodeImg" title="点击刷新验证码" alt="验证码"
                                             onclick="this.src='/kaptcha?d='+new Date()*1"
                                             src="/kaptcha?d=1"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登入</button>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item q-login">
                    <div class="main impowerBox">
                        <div class="loginPanel normalPanel">
                            <div class="title">小程序登录</div>
                            <div class="waiting panelContent">
                                <div class="wrp_code" id="qrcode">
                                </div>
                                <div class="info">
                                    <div class="status status_browser js_status js_wx_default_tip normal" id="wx_default_tip">
                                        <p class="prompt-msg">请使用微信扫描二维码登录</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['element'], function () {
        var element = layui.element,$ = layui.$
            , form = layui.form;
        if(window.location.href.indexOf("kickout")>-1){
            top.layer.msg("您已在别处登录，请您修改密码或重新登录！", {
                offset: 't',
                anim: 6,
            });
        };
        form.render();
        //提交
        form.on('submit(LAY-user-login-submit)', function (obj) {
            $.ajax({
                url: '/login',
                type: "post",
                data: JSON.stringify(obj.field),
                dataType: "json",
                contentType: "application/json", //必须有
                success: function (res) {
                    console.log(res);
                    if (res.code == 200) {
                        top.window.location.href = "/home/index";
                    } else {
                        $("#vercodeImg").click();
                        layer.msg(res.msg);
                    }
                }
            })
        });

        $('body').bind('keydown', function(event) {
            if (event.which  == "13") {
                $(".layui-btn").click();
            }
        });
        var myTimer;
        element.on('tab(login)', function (e) {
            if (e.index == 1) {
                $("#qrcode").html('<img alt="二维码登录" src="/qrcode"/></div>');
                myTimer = setInterval(function(){ checkLogin() },2000);
            } else {
                $("#qrcode").empty();
                if(myTimer)clearInterval(myTimer);
            }
        });
        var checkLogin = function(){
            $.ajax({
                url:"/verify",
                type:"get",
                dataType:"json",
                success:function(res){
                    if(res.code==0){
                        location.reload();
                    }
                }
            })
        };
    });
</script>
</body>
</html>